	body{
		font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',Arial,sans-serif;
	}
	html,body,#app{
		height: 100%
	}
	#app{
        background-image: url(bg.jpg) ;
        background-repeat:repeat-x;
    }