html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    /*flex-direction: column;*/
    margin: 0;
    background-image: url(../../img/04.jpg);
    background-repeat: no-repeat;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    align-items: center;
    justify-content: center;
}
.todo-content {
    width: 500px;
    left:620px;
    position: absolute;
    transition: top 1s;
    text-align: center;
}

.move1 {
    top: 460px;
    opacity: 0;
}

.move2{
    top: 500px;
    opacity: 1;
}

.move3 {
    top: 540px;
    opacity: 0.6;
}

.move4{
    top: 580px;
    opacity: 0.3;
}

#todo-input {
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin-top: -10px;
    color: white;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px solid rgb(255, 255, 255);
    border-left: 0;
    outline: none;
    background-color: transparent;
}

.input-container {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    width: 500px;
    height: 300px;
    color: white;
    align-items: center;
}

#todoList-container {
    margin-top: 35px;
}
